<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.minticgrupo08.grupo02">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mintic">
        <activity
            android:name=".Actividades.Registro.Login"
            android:exported="true" />
        <activity
            android:name=".Actividades.Registro.RegistroUsuarios"
            android:exported="true" />
        <activity
            android:name=".Actividades.Ventanas_Principales.Registro_Mascotas"
            android:exported="true" />
        <activity
            android:name=".Actividades.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Actividades.Ventanas_Principales.MiCuenta"
            android:exported="false" />
        <activity
            android:name=".Actividades.Ventanas_Principales.Mascotas"
            android:exported="false" />
        <activity
            android:name=".Actividades.Ventanas_Principales.Inicio"
            android:exported="true" />
    </application>

</manifest>